.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: rgb(144, 159, 174);
}

.token.namespace {
  opacity: 0.7;
}

.token.string,
.token.attr-value {
  color: rgb(194, 246, 90);
}

.token.punctuation {
  color: #999;
}

.token.operator {
  color: #69d2ff;
}

.token.entity,
.token.url,
.token.symbol,
.token.number,
.token.boolean,
.token.variable,
.token.constant,
.token.property,
.token.regex {
  color: rgb(255, 116, 193);
}

.token.prefix.inserted {
  color: #690;
}

.token.prefix.deleted {
  color: #dd4a68;
}

.token.atrule,
.token.keyword,
.token.attr-name,
.language-autohotkey .token.selector {
  color: rgb(253, 255, 182);
}

.token.function,
.language-autohotkey .token.tag {
  color: #dd4a68;
}

.token.tag,
.token.selector,
.language-autohotkey .token.keyword {
  color: #00009f;
}

.token.important,
.token.bold {
  font-weight: bold;
}

.token.italic {
  font-style: italic;
}